apiVersion: apps/v1
kind: Deployment
metadata:
  name: rest-api-deployment
  namespace: glaubersantos
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spotify-recommender
  template:
    metadata:
      labels:
        app: spotify-recommender
    spec:
      containers:
      - name: rest-api
        image: seu_usuario/spotify-rest-api:1.0
        ports:
        - containerPort: 5000
        env:
        - name: FLASK_APP
          value: "app.py"
        - name: FLASK_ENV
          value: "production"
        volumeMounts:
        - name: shared-volume
          mountPath: /shared
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5
      volumes:
      - name: shared-volume
        persistentVolumeClaim:
          claimName: project2-pvc
